<div class="header">
  <div class="container">

    <h1>Projekt editieren</h1>
  </div>
</div>

<div class="create">
  <div class="container">
    <%= form_for(@project) do |f| %>  
      <div class="field"> 
        
        <%= form_for(@project) do |f| %>  
  <div class="field"> 
    <%= f.label :title %><br> 
    <%= f.text_field :title %> 
  </div> 


  <div class="actions"> 
      <%= f.label :description %><br> 
        <%= f.text_field :description %> 
   
  </div> 

    <div class="actions"> 
      <%= f.label :noInt %><br> 
        <%= f.number_field :noInt %> 
   </div> 

    <div class="actions"> 
      <%= f.label :noExt %><br> 
        <%= f.number_field :noExt %> 
   </div> 

 <div class="col-md-4">
  <div> <%= f.label :kunden_id, "Auftraggeber" %>
   <div><%= f.select :kunden_id , Kunden.all.collect{|d| [d.firma, d.id ]} %></div>
    </div> 




   <%= f.submit "Create" %> 
<% end %> 
        
      
      </div> 
      <div class="actions"> 
        <!-- <%= f.submit "Create" %> -->
      </div> 
    <% end %>
  </div>
</div>
