<h1>Aufgabe bearbeiten</h1>

<%= simple_form_for @project do |f| %>
 <%= f.input :title, label: "Projekttitel" %>
   <%= f.input :description, label: "Beschreibung" %>
  <%= f.input :noInt, label: "Interne Auftragsnummer" %>
  <%= f.input :noExt, label: "Externe Auftragsnummer" %>
   
   <%= f.input :work, label: "Arbeitsschritt 0" %>
  <%= f.input :workTodo,label:"Beschreibung Arbeitsschritt 0", :input_html => {:maxlength =>200, :style => 'width:400px'} %>
    <%= f.input :bearbeiter, collection: ["RG", "GG", "HG"], label:"Bearbeiter" %>

    <%= f.input :work1, label: "Arbeitsschritt 1" %>
    <%= f.input :workTodo1,label:"Beschreibung Arbeitsschritt 1", :input_html => {:maxlength =>200, :style => 'width:400px'}  %>
   
        <%= f.input :work2, label: "Arbeitsschritt 2" %>
     <%= f.input :workTodo2, label: "Arbeitsschritt 2" %>

      <%= f.input :workTodo3, label: "Arbeitsschritt 1" %>
     <%= f.input :workTodo4, label: "Arbeitsschritt 2" %>
  <%= f.button :submit, label: "Erstellen" %>
<% end %>


<%= link_to project_path do%>
	<i class="far fa-hand-point-left"></i>
	<% end %>