<h1>Aufgabe bearbeiten</h1>

<%= simple_form_for @project do |f| %>
 <%= f.input :title, label: "Projekttitel" %>
   <%= f.input :description, label: "Beschreibung" %>
  <%= f.input :noInt, label: "Interne Auftragsnummer" %>
  <%= f.input :noExt, label: "Externe Auftragsnummer" %>
  <%= f.input :workTodo, label: "Zu erledigende Arbeiten" %>
    <%= f.input :workTodo1, label: "Arbeitsschritt 1" %>
     <%= f.input :workTodo2, label: "Arbeitsschritt 2" %>
      <%= f.input :workTodo3, label: "Arbeitsschritt 1" %>
     <%= f.input :workTodo4, label: "Arbeitsschritt 2" %>
  <%= f.button :submit, label: "Erstellen" %>
<% end %>


<%= link_to project_path do%>
	<i class="far fa-hand-point-left"></i>
	<% end %>