<!DOCTYPE html>
<html>
  <head>
    <title>MeineAufgabe</title>

  </head>

  <body>
  <h1>DeJaWu - Zeitmanagement für den Werkzeugbau</h1>
<p> 
<button type="button" class="btn btn-default"> <%= link_to "Neue Aufgabe", new_project_path%> </button>

<button type="button" class="btn btn-default"> <%= link_to "Übersicht", new_project_path%> </button>




<% @projects.each do |project| %>
<div class="row item">
	
<h2>   <%= link_to project.title, project %> </h2>

	<div class="col-md-4">
   
	 <div><%= project.description  %> </div>
 	 <div>Interne Nummer     </div>
 	 <div>  Externe Nummer    </div>

    <div> Liefertermin  </div>
    </div>

    	<div class="col-md-3">
      <div> <br></div>
 	 <div>  <%= project.noInt %>       </div>
 	 <div><%= project.noExt %>       </div>

    <div> <%= project.liefTermn %> </div>


    </div>




</div>
  <hr/>
 



 <% end %>  

</body>
</html>
