

 <button type="button" class="btn btn-primary" data-toggle="popover" title="Neues Projekt anlegen" data-content="Legen Sie zu Ihrem Kunden ein neues Pojekt an"><%= link_to "Neues Projekt" ,new_project_path, class:'linke'%></button>



<button type="button" class="btn btn-primary" data-toggle="popover" title="Neues Projekt anlegen" data-content="Legen Sie zu Ihrem Kunden ein neues Pojekt an"><%= link_to "Change", new_project_path, class:'linke'%></button>

<button type="button" class="btn btn-primary"> <%= link_to 'Kunden', kundens_path, class:'linke' %>  </button>





<div class="row">
  <div class="col-md-8"><h2> Laufende Aufträge </h2>  </div>
</div>

<% @projects.each do |project| %>

<div class="row">
  <div class="col-md-8"><h2><%= link_to project.title, project %> </h2></div>
</div>

  <div class="row">
	 <div class="col-md-4">
   
	    <div>Projekttitel </div>
 	    <div>Interne Nummer</div>
 	    <div>Externe Nummer</div>
      <div>Liefertermin</div>
    </div>

     <div class="col-md-4">
   
      <div><%= project.description  %> </div>
      <div><%= project.noInt %></div>
      <div><%= project.noExt %></div>
      <div><%= project.kunden_id %></div>
    </div>

  </div>

<br>



 <% end %>  


