
<div class="row">
	<div class="col-md-8">
<div><strong><h1><%= @project.title %></h1></strong> </div>



	<button type="button" class="btn btn-default"> <%= link_to "Zurück", root_path %>
	</button>

	<button type="button" class="btn btn-default"> <%= link_to "Editieren", edit_project_path %>
	</button>

	<button type="button" class="btn btn-default"> <%= link_to "Löschen", project_path(@project) , method: :delete, data: { confirm: "Bist Du sicher?"} %>
	</button>

    <button type="button" class="btn btn-default"> <%= link_to "Projekt abschliessen", edit_project_path %>
  </button>


</div>
</div>



<%= @project.born %>






<hr/>




<div class="row">

	<div class="col-md-2">Beschreibung</div>
  <div class="col-md-2"><%= @project.description %></div>

</div>

<div class="row">

  <div class="col-md-2">Int. Projektnummer</div>
  <div class="col-md-2"><%= @project.noInt %></div>

</div>

<div class="row">
  <div class="col-md-2">Ext. Projektnummer</div>
  <div class="col-md-2"><%= @project.noInt %></div>
</div>

<div class="row">
  <div class="col-md-2">Kunde</div>
  <div class="col-md-2"> <div>
 
    <%= @project.kunden_id %>  </p>
          <%= @project.kunden_id.to_s %>
         <% kunder =  kunden_path(:id => @project.kunden_id) %>
          <%= link_to 'Zum Kunden', kunder %>
    </div></div>
</div>

<table>
   <tr> 
   	<th width=70% >Beschreibung:</th>
   	 <th width=12%>Wareneingang</th>
    <th width=12%>Heute ist der</th>
    <th>Liefertermin</th>
 
  </tr>
  <tr>
    <td><%= @project.description %></td>
    <td> <%= @project.warEing.strftime("%e.%b %Y  ")  %> </td>
    <td><%= Time.now.strftime("%e.%b %Y ")  %></td>
    <td><%= @project.liefTermn.strftime("%e.%b %Y ") %></td>
 
   </tr>

</table>
</div>
</div>


 <hr/>


<div class="row">
	<div class="col-md-2">
<div><strong>Interne Projektnummer:</strong> </div>
<div><strong>Externe Projektnummer:</strong></div>
<div><strong>Ansprechpartner:</strong></div>
<div><strong>Kunde:</strong></div>


</div>


 <div class="col-md-3">
 <div><%= @project.noInt %></div>
 <div><%= @project.noExt %></div>
 <div><%= @project.ansprech %></div>
 <div><%= @project.kunde %></div>

 </div>






  <% t=@project.liefTermn-Time.now %>
 <%mm, ss=t.divmod(60) %>
 <% hh, mm=mm.divmod(60) %>
 <% dd, hh=hh.divmod(24) %>

 <div class="col-md-7">

<% if (@project.liefTermn-Time.now)<=0 %>
    

     <div><h2><span style="color:#FF0000"> <b>Der Liefertermin wurde um</br><%= dd%> Tage  </br>überschritten!</b></h2></span></div>
    

<%else%>
<div></br></div>
<div></div>
 <div><h2><span style="color:#0CF604"><b> Noch <%= dd%> Tage <%= hh%> Stunden</b></h2></span></div>
<%end%>
</div>
</div>


 <hr/>
  





   <h3>Zu erledigende Arbeiten </h3>




<div class="row">

	<div class="col-md-1">
<div>No</div> 
<div>1</div> 
<div><br></div>
<div>2</div> 
<div><br></div>
<div>3</div> 
<div><br></div>
<div>4</div> 
</div>



	<div class="col-md-2">


<div>Bearbeitungsschritt</div> 
<div><%= @project.work %></div> 
<div><br></div>
<div><%= @project.work1 %></div>
<div><br></div>
</div>

	<div class="col-md-1">
	<div>Bearbeiter</div>
<div><%= @project.bearbeiter %></div> 
<div><br></div>
<div><%= @project.bearbeiter %></div> 
<div><br></div>
</div>


 <div class="col-md-3">
  <div>Beschreibung </div>	
 <div><%= @project.workTodo %> </div>
 <div><br></div>
<div><%= @project.workTodo1 %> </div>
 <div><br></div>
 </div>
     
 <div class="col-md-1">
<div>Start</div>
 	<%= link_to started_project_path(@project), method: :patch do%>
 <div><button type="button" class="btn btn-default">START</button></div>
<% end %>


</div>


 <div class="col-md-1">
 	<div>Stop</div>


	

 	 <%= link_to stopped_project_path(@project), method: :patch do%>
 <div><button type="button" class="btn btn-default">STOP </button></div>
<% end %>

</div>
<div><br></div>

 <div class="col-md-1">
 	 <div>Beginn</div>
 	  <div><%= @project.w0_started_at.strftime("%H:%M") %></div>

</div>

 <div class="col-md-1">
 	 <div>Ende</div>
 	  <div><%= @project.w0_stopped_at.strftime("%H:%M") %></div>

</div>

 <div class="col-md-1">
 	 <div>Bearbeitungsdauer</div>



 	  <% if @project.w0_stopped? %>
 
<% lo=@project.w0_stopped_at-@project.w0_started_at %>
 <% mm, ss=lo.divmod(60) %>
 <% hh, mm=mm.divmod(60) %>
 <% dd, hh=hh.divmod(24) %>

<% if hh>=0 %>
  <% mm=hh*60 + mm %>
  <%end %>

  <div> <%= mm %>min</div>


      <%end%>
</div>

</div>

    
<hr/>


<div class="row">

<div class="col-md-2">


 </div>
     


</div>

       <h3>Zukaufteile </h3>


    <p> <%= @project.zukauf %></p>


       <h3>externe Bearbeitung</h3>
 

    <p> <%= @project.ext %></p>

    <h3>Befundbericht</h3>
    <div><p> <%= @project.befund %></p></div>




