
<h1><%= @project.title %></h1>

	<button type="button" class="btn btn-default"> <%= link_to "Zurück", root_path %>
	</button>

	<button type="button" class="btn btn-default"> <%= link_to "Editieren", edit_project_path %>
	</button>

	<button type="button" class="btn btn-default"> <%= link_to "Löschen", project_path(@project) , method: :delete, data: { confirm: "Bist Du sicher?"} %>
	</button>
 





<div class="row">

	<div class="col-md-12">

<strong>Beschreibung: </strong>
</div>
</div>

<div class="row">
 <div class="col-md-12">
 	<%= @project.description %>
 </div>



</div>


 <hr/>


<div class="row">
	<div class="col-md-2">
<div><strong>Interne Projektnummer:</strong> </div>
<div><strong>Externe Projektnummer:</strong></div>
<div><strong>Ansprechpartner:</strong></div>
<div><strong>Wareneingang:</strong></div>
<div><strong>Liefertermin:</strong></div>
<div><strong>Ansprechpartner:</strong></div>
</div>


 <div class="col-md-2">
 <div><%= @project.noInt %></div>
 <div><%= @project.noExt %></div>
 <div>  <%= @project.noExt %></div>
  <div><%= @project.noInt %></div>
 <div><%= @project.noExt %></div>
 <div>  <%= @project.noExt %></div>
 </div>




<div class="col-md-2">
<div><strong>Time to Go:</strong></div>

</div>

 

 <div class="col-md-2">
 <div><%= @project.w0_started_at %></div>
</div>
</div>

 <hr/>
  
 

   <h3>Zu erledigende Arbeiten </h3>


<div class="row">
	<div class="col-md-2">
	
<div>Bearbeitungsschritt</div> 
<div><%= @project.work %></div> 
</div>

	<div class="col-md-1">
	<div>Bearbeiter</div>
<div><%= @project.bearbeiter %></div> 

</div>


 <div class="col-md-4">
  <div>Beschreibung </div>	
 <div><%= @project.workTodo %> </div>

 </div>
     
 <div class="col-md-1">
<div>Start</div>
 	<%= link_to started_project_path(@project), method: :patch do%>
 <div><button type="button" class="btn btn-default">START</button></div>
<% end %>


</div>


 <div class="col-md-1">
 	<div>Stop</div>


	

 	 <%= link_to stopped_project_path(@project), method: :patch do%>
 <div><button type="button" class="btn btn-default">STOP </button></div>
<% end %>

</div>


 <div class="col-md-1">
 	 <div>Beginn</div>
 	  <div><%= @project.w0_started_at %></div>

</div>

 <div class="col-md-1">
 	 <div>Ende</div>
 	  <div><%= @project.w0_stopped_at %></div>

</div>

 <div class="col-md-1">
 	 <div>Bearbeitungsdauer</div>
 	  <% if @project.w0_stopped? %>
 	  <div><%= @project.w0_stopped_at-@project.w0_started_at %></div>
      <%else%>
      <%end%>
</div>

</div>

    
<hr/>
       <h3>Zukaufteile </h3>
   	<%= link_to edit_project_path do%>
	<i class="far fa-edit"></i>
	<% end %>

	<%= link_to project_path(@project) , method: :delete, data: { confirm: "Bist Du sicher?"} do %>
	<i class="far fa-trash-alt"></i>
   <% end %>
   
	<%= link_to root_path do%>
	<i class="far fa-hand-point-left"></i>
	<% end %>

    <p> <%= @project.workTodo %></p>


       <h3>externe Bearbeitung</h3>
   	<%= link_to edit_project_path do%>
	<i class="far fa-edit"></i>
	<% end %>

	<%= link_to project_path(@project) , method: :delete, data: { confirm: "Bist Du sicher?"} do %>
	<i class="far fa-trash-alt"></i>
   <% end %>
   
	<%= link_to root_path do%>
	<i class="far fa-hand-point-left"></i>
	<% end %>

    <p> <%= @project.workTodo %></p>

    <h3>Befundbericht</h3>
    <div>Ein Mordsscheiss das Ganze</div>



	<%= link_to edit_project_path do%>
	<i class="far fa-edit"></i>
	<% end %>


   
	<%= link_to root_path do%>
	<i class="far fa-hand-point-left"></i>
	<% end %>

